@mixin media($break-point) {
	@if $break-point== $custom_1440 {
		@media (max-width: $custom_1440) {
			@content;
		}
	}
	@if $break-point== $custom_1280 {
		@media (max-width: $custom_1280) {
			@content;
		}
	}
	@if $break-point== $custom_1279 {
		@media (max-width: $custom_1279) {
			@content;
		}
	}
	@if $break-point== $custom_1200 {
		@media (max-width: $custom_1200) {
			@content;
		}
	}
	@if $break-point== $custom_699 {
		@media (max-width: $custom_699) {
			@content;
		}
	}
	@if $break-point== $custom_992 {
		@media (max-width: $custom_992) {
			@content;
		}
	}
	@if $break-point== $custom_500 {
		@media (max-width: $custom_500) {
			@content;
		}
	}
	@if $break-point== $custom_375 {
		@media (max-width: $custom_375) {
			@content;
		}
	}
	@if $break-point== lg {
		@media (max-width: $lg) {
			@content;
		}
	}
	@if $break-point== md {
		@media (max-width: $md) {
			@content;
		}
	}
	@if $break-point== sm {
		@media (max-width: $sm) {
			@content;
		}
	}
}

@mixin h-1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 56px;
	line-height: 67.11px;
	font-weight: 700;
	text-transform: uppercase;

	@include media(lg) {
		font-size: 36px;
		line-height: 46px;
	}
}

@mixin h-2 {
	position: relative;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	line-height: 54px;
	font-weight: 600;
	letter-spacing: 0.32px;
	text-transform: uppercase;

	&::before {
		content: '';
		position: absolute;
		bottom: -8px;
		left: 50%;
		transform: translateX(-50%);
		width: 71px;
		height: 4px;
		border-top: 1px solid $primary;
		border-bottom: 1px solid $primary;
	}
}

@mixin h-3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;

	@include media(lg) {
		letter-spacing: 0.18px;
	}
}
