// Font Family
$font-family: "Montserrat", sans-serif;

// Viewports
$custom_1440: 1440px;
$custom_1280: 1280px;
$custom_1279: 1279px;
$custom_1200: 1200px;
$custom_992: 992px;
$custom_699: 699px;
$custom_500: 500px;
$custom_375: 375px;
$lg: 992px;
$md: 768px;
$sm: 425px;

// Colors
$primary: #ff0000;
$primary-border: #ffffff;
$secondary-border: #222;
$bg: #ffffff;
$bg-light: #fcfcfc;
$bg-dark: #151515;
$text-light: #ffffff;
$text-dark: #0d0d17;

// Border-radius
$radius-1: 40px;
$radius-2: 39px;
$radius-3: 19px;
