// Font Family
$font-family: "Open Sans", sans-serif;

// Viewports
$custom_1440: 1440px;
$custom_1280: 1280px;
$custom_1279: 1279px;
$custom_1200: 1200px;
$custom_992: 992px;
$custom_699: 699px;
$custom_500: 500px;
$custom_375: 375px;
$custom_370: 370px;
$lg: 992px;
$md: 768px;
$sm: 425px;

// Colors
$primary: #C2996F;
$bg: #ffffff;
$bg-secondary: #F6F6F6;
$text-light: #ffffff;
$text-dark: #2C2B2E;
$text-secondary: #8E99A5;

// Border-radius
$radius-1: 5px;
$radius-2: 39px;
$radius-3: 19px;
