/wp-config.php
/wp-content/uploads/*.php
/wp-content/uploads/**
/wp-content/plugins/**
/.htaccess
*.sql
*.log
*.bak
*.zip
*.tar.gz
*.tar
*.rar
.env
/license.txt
/backup*
/phpinfo.php
.DS_Store
/node_modules
.sass-cache/
/languages/
theme.*.min.css
script.*.min.js