.nougatine-cart-page {
	//padding-top: 105px;
	//@include media(lg) {
	//	padding-top: 69px;
	//}

	.your-cart {
		width: 100%;
		padding: 20px 16px;
		background: $text-dark;
		@include media(lg) {
			padding: 12px 16px;
		}

		p {
			color: $text-light;
			text-align: center;
			font-size: 40px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 100% */
			letter-spacing: 4px;
			text-transform: uppercase;
			@include media(lg) {
				font-size: 20px;
				line-height: 26px;
				letter-spacing: 2px;
			}
		}

	}

	.woocommerce-cart-form {
		max-width: 1003px;
		margin: 32px auto 0;

		.shop_table {
			border: unset;

			th {
				color: $text-dark;
				text-align: left;
				font-family: "Open Sans", sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px; /* 133.333% */
				letter-spacing: 1.8px;
				text-transform: uppercase;
				@include media(lg) {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 1.4px;
				}
			}

			tbody {

				tr {
					&:nth-child(2n) {
						background: #F8F4F0;
					}

					td {
						border-top: unset;

						img {
							width: auto;
							max-width: 54px;
						}

						&.product-remove {
							a {
								&.remove {
									font-family: 'Open Sans', sans-serif;
									background: $primary;
									color: #fff !important;
									font-weight: 500;
								}
							}
						}

						&.product-subtotal {
							span {
								bdi {
									color: $text-dark;
									text-align: center;
									font-family: "Open Sans", sans-serif;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: 20px; /* 125% */

									@include media(lg) {
										font-size: 14px;
										font-weight: 600;
										line-height: 20px;
									}

								}
							}
						}

						&.product-price {
							span {
								bdi {
									color: $text-dark;
									text-align: center;
									font-family: "Open Sans", sans-serif;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 20px; /* 125% */
								}
							}
						}

						&.product-name {
							a {
								color: $text-dark;
								font-family: "Open Sans", sans-serif;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 20px;
								letter-spacing: 0.16px;
								@include media(lg) {
									font-size: 12px;
									line-height: 16px;
									letter-spacing: 0.12px;
								}
							}
						}

					}

				}

			}

		}

	}

}

.cart-collaterals {
	padding: 72px 0;
	@include media(lg) {
		padding: 36px 0 42px;
	}

	.cart_totals {
		width: 100% !important;
		float: unset !important;
		max-width: 1003px;
		margin: 0 auto;

		h2 {
			color: #2C2B2E;
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-size: 40px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 100% */
			letter-spacing: 4px;
			margin-bottom: 20px;

			&:before {
				display: none;
			}

			@include media(lg) {
				font-size: 20px;
				line-height: 26px;
				letter-spacing: 2px;
			}
		}

		.shop_table {
			border: unset;
			border-radius: unset;
			border-top: 2px solid #FDD19C;
			margin-top: 18px;
			padding-top: 7px;
			@include media(lg) {
				margin-top: 9px;
				padding: 7px 16px 0;
			}

			tr {

				th {
					padding-left: 0;
					padding-right: 0;
					color: $text-dark;
					font-family: "Open Sans", sans-serif;
					font-size: 20px;
					font-style: normal;
					font-weight: 600;
					line-height: 32px; /* 160% */
					letter-spacing: 4px;
					text-transform: uppercase;
				}

				td {
					display: flex;
					justify-content: flex-end;
					padding-left: 0;
					padding-right: 0;

					&::before {
						@include media(lg) {
							content: attr(data-title);
							color: $text-dark;
							font-family: "Open Sans", sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 600;
							line-height: 20px; /* 125% */
							letter-spacing: 1.6px;
							text-transform: uppercase;
						}
					}

					@include media(lg) {
						justify-content: space-between;
						align-items: center;
					}

					span {
						bdi {
							color: $text-dark;
							text-align: right;
							font-family: "Open Sans", sans-serif;
							font-size: 24px;
							font-style: normal;
							font-weight: 700;
							line-height: 32px; /* 133.333% */
							letter-spacing: 0.24px;
							@include media(lg) {
								font-size: 20px;
								line-height: 20px;
								letter-spacing: 0.2px;
							}
						}
					}
				}

			}

		}

		.wc-proceed-to-checkout {
			@include media(lg) {
				padding: 0 16px;
			}

			a {
				width: 100%;
				padding: 16px 39px;
				background: $primary;
				text-align: center;
				color: $text-light;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 22px; /* 110% */
				letter-spacing: 0.2px;
				text-transform: uppercase;
				border: 1px solid $primary;
				transition: .3s;
				@include media(lg) {
					font-size: 18px;
					line-height: 22px;
					letter-spacing: 0.18px;
				}

				svg {
					vertical-align: text-top;
					margin-right: 10px;

					path {
						transform: .3s;
					}
				}

				&:hover {
					background: $text-light;
					color: $primary;
					border: 1px solid $primary;
					transition: .3s;

					svg {
						path {
							fill: $primary;
							transform: .3s;
						}
					}
				}
			}

		}

	}

}

.cart-products-slider {
	background: #F9F9FA;

	.container {

		h2 {
			color: #2C2B2E;
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-size: 40px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 100% */
			letter-spacing: 4px;
			text-transform: uppercase;

			&:before {
				bottom: -22px;
			}
		}

		.best-sellers-slider {

			.slick-list {
				padding-top: 66px !important;
			}

		}

	}

}

/* Hide default increment and decrement buttons */
.custom-input-number::-webkit-inner-spin-button,
.custom-input-number::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.custom-quantity-number::-webkit-inner-spin-button,
.custom-quantity-number::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.custom-quantity {
	display: flex;
	width: fit-content;
	padding: 10px 23px;
	border: 1px solid $primary;
	background: #fff;
	border-radius: 2px;
	@include media(lg) {
		padding: 5px;
	}
}

/* Style input field */
.custom-input-number,.custom-quantity-number {
	/* Add your desired styles for the input field */
	max-width: 30px;
	border: unset;
	background: transparent;
	outline: none;
	margin: 0 15px;
	font-family: 'Open Sans', sans-serif;
	color: $primary;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px; /* 114.286% */
	text-align: center;
	@include media(lg) {
		margin: 0 5px;
	}
}

.input-number-button {
	cursor: pointer;
	color: $primary;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 23px; /* 114.286% */
}

.lang-he {

	.nougatine-cart-page .woocommerce-cart-form .shop_table {
		direction: rtl;
	}

	.nougatine-cart-page .woocommerce-cart-form .shop_table th {
		text-align: right;
	}

	.cart-subtotal {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.custom-quantity {
		flex-direction: row-reverse;
	}

	.cart-collaterals .cart_totals .shop_table tr td {
		@include media(lg) {
			flex-direction: row-reverse;
		}
	}

}

.nougatine-cart-empty {
	padding-top: 200px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	@include media(lg) {
		padding-top: 95px;
		padding-bottom: 30px;
	}

	img {
		max-width: 150px;
	}

	h3 {
		color: $text-dark;
		text-align: center;
		font-family: "Open Sans", sans-serif;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 3.2px;
		text-transform: uppercase;
	}

	p {
		color: $text-dark;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0.2px;
	}
}


#cart-pdf {
	height: 29.7cm;
	width: 21cm;
	margin: 0 auto;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	position: relative;

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		img {
			width: 140px;
		}
	}

	.heading-wrapper {
		background: #E7DAC8;
		border-radius: 5px;
		padding: 35px;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		margin-bottom: 25px;

		h2 {
			font-size: 35px;
			margin-bottom: 26px;
		}

		.heading-content-text {
			display: flex;
			flex: 100%;
			justify-content: space-around;

			p {
				margin-bottom: 0;
				font-size: 26px;
			}
		}
	}

	table {
		border: 2px solid #E7DAC8;
		width: 100%;
		color: #212529;
		border-collapse: collapse;

		thead th {
			border-left: none;
			border-right: none;
			border-bottom: 2px solid #E7DAC8 !important;
			text-align: left;
			color: #5F5F5F;
			font-weight: 400;
			padding-left: 35px;
			padding-block: 5px;
		}

		td {
			border-bottom: 2px solid #E7DAC8 !important;
			padding: 0.75rem;
			vertical-align: top;
			padding-left: 35px;
		}

		tbody tr:nth-of-type(odd) {
			background-color: #D9D9D9;
		}

		tfoot {
			background-color: #E7DAC8;
		}
	}

	.footer-pdf {
		position: absolute;
		bottom: 0;
	}

	.footer-pdf {
		text-align: center;
	}

	.footer-pdf-black {
		text-align: center;
		background: black;
		padding: 20px;
		color: #F4E6D6;
	}
}
