.custom-checkout {
	background: #F9F9FA;
	@include media(lg) {
		background: #fff;
	}

	.custom-checkout-title {
		margin-top: 105px;
		padding: 20px 16px;
		background: #2C2B2E;

		h1 {
			color: #FFF;
			text-align: center;
			font-family: "Open Sans", sans-serif !important;
			font-size: 40px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 100% */
			letter-spacing: 4px;
			text-transform: uppercase;
		}

	}

	.checkout-wrapper {
		display: flex;
		@include media(lg) {
			flex-direction: column;
		}

		#checkout-steps {
			padding: 0 100px 70px;
			margin-top: 32px;
			width: 65%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			@include media(lg) {
				width: 100%;
				padding: 0 0 70px;
				align-items: center;
			}

			.steps-indicator {
				position: relative;
				width: 100%;
				max-width: 550px;
				margin-right: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include media(lg) {
					max-width: 280px;
					margin-right: 0;
				}

				.indicators-line {
					position: absolute;
					width: 93%;
					height: 2px;
					background: $primary;
					top: 15px;
					left: 50%;
					transform: translateX(-50%);
					@include media(lg) {
						width: 85%;
					}
				}

				.step {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 6px;

					.step-number {
						width: 34px;
						height: 34px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #B5B5B5;
						color: #B5B5B5;
						background: #F9F9FA;

						text-align: center;
						font-family: "Open Sans", sans-serif;
						font-size: 18px;
						font-style: normal;
						font-weight: 600;
						line-height: 29.139px;
						transition: .3s;
					}

					p {
						color: #B5B5B5;
						text-align: center;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 112.5% */
						transition: .3s;
					}

					&.active {

						.step-number {
							background: $primary;
							color: $text-light;
							border: 1px solid $primary;
							transition: .3s;
						}

						p {
							color: #2C2B2E;
							font-weight: 600;
							transition: .3s;
						}

					}

				}

			}

			.content {
				width: 100%;
				max-width: 592px;
				margin-top: 24px;
				padding: 24px 36px;
				border-radius: 2px;
				border: 1px solid $primary;
				background: $text-light;
				@include media(lg) {
					padding: 0 16px;
					border: unset;
					max-width: 100%;
				}

				.step-content {
					display: none;

					&.active {
						display: block;
					}

					.delivery-choice {
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 32px;
						@include media(lg) {
							gap: 22px;
						}

						div {
							width: 50%;
							cursor: pointer;
							border-radius: 2px;
							border: 1px solid #F6F6F6;
							background: #F6F6F6;
							padding: 16px 33px;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							gap: 8px;
							transition: .3s;
							@include media(lg) {
								padding: 16px 11px;
							}

							&:hover {
								border: 1px solid $primary;
								background: #fff;
								transition: .3s;

								svg {
									path {
										fill: $primary;
										transition: .3s;
									}
								}
							}

							&.active {
								border: 1px solid $primary;
								background: #fff;

								svg {
									path {
										fill: $primary;
									}
								}
							}

							svg {
								path {
									transition: .3s;
								}
							}

							p {
								color: $text-dark;
								text-align: center;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: 20px; /* 125% */
							}

						}

					}

					.forms-wrapper {
						margin-top: 20px;
						@include media(lg) {
							padding: 0;
						}

						.form {
							display: none;

							&.active {
								display: block;
							}

							form {

								.input-label-wrapper {
									display: flex;
									flex-direction: column;
									gap: 3px;
								}

								label {
									color: $text-dark;
									font-family: "Open Sans", sans-serif;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: 20px; /* 125% */

									span {
										color: $primary;
									}

								}

								select {
									cursor: pointer;
									padding: 11px 8px;
									border-radius: 2px;
									outline: none;
									border: 1px solid #D9D9D9;
									background: #FFF;

									color: #8E99A5;
									font-family: "Open Sans", sans-serif;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 16px;

									&.input-error {
										border-color: red;
									}
								}

								.half-inputs-wrapper {
									display: flex;
									justify-content: space-between;
									gap: 36px;
									margin-top: 8px;
									@include media(lg) {
										flex-direction: column;
										gap: 8px;
									}

									div {
										width: 50%;
										@include media(lg) {
											width: 100%;
										}

										input {
											padding: 11px 8px;
											border-radius: 2px;
											border: 1px solid #D9D9D9;
											outline: none;
											background: #FFF;

											color: $text-dark;
											font-family: "Open Sans", sans-serif;
											font-size: 14px;
											font-style: normal;
											font-weight: 400;
											line-height: 16px; /* 114.286% */

											&::placeholder {
												color: #8E99A5;
												font-family: "Open Sans", sans-serif;
												font-size: 14px;
												font-style: normal;
												font-weight: 400;
												line-height: 16px; /* 114.286% */
											}

											&.input-error {
												border-color: red;
											}
										}

									}

								}


							}

						}

						.different-name-invoice {
							cursor: pointer;
							margin-top: 12px;
							margin-bottom: 16px;
							border-radius: 5px;
							border: 2px solid $primary;
							padding: 16px 12px;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							gap: 8px;

							&.active {

								.checkbox {
									background: $primary;
								}

							}

							.checkbox {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 20px;
								height: 20px;
								flex-shrink: 0;
								border-radius: 3px;
								border: 2px solid $primary;
							}

							p {
								color: $primary;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: 20px; /* 125% */
							}

						}

					}

					.content-bottom {
						margin-top: 16px;
						@include media(lg) {
							padding: 0;
						}

						.order-summary-btn-mobile {
							padding: 20px 0;
							display: flex;
							justify-content: space-between;
							align-items: center;
							@media screen and (min-width: 992px) {
								display: none;
							}

							&.active {
								p {
									svg {
										transform: rotate(180deg);
										transition: .3s;
									}
								}
							}

							p {
								color: $text-dark;
								font-size: 14px;
								font-style: normal;
								font-weight: 600;
								line-height: 20px;

								svg {
									margin-left: 16px;
									vertical-align: middle;
									transition: .3s;
								}

							}

							.price {
								color: $text-dark;
								font-family: "Open Sans", sans-serif;
								font-size: 20px;
								font-style: normal;
								font-weight: 600;
								line-height: 20px;
								letter-spacing: 0.2px;
							}

						}

						.btn-continue {
							cursor: default;
							background: #B5B5B5;
							border: 1px solid #B5B5B5;
							width: 100%;
							padding: 13px 60px;
							transition: .3s;

							&:hover {
								color: #fff;
							}

							&.active {
								cursor: pointer;
								background: $primary;
								border: 1px solid $primary;
								transition: .3s;

								&:hover {
									color: $primary;
									background: #fff;
									transition: .3s;
								}
							}
						}

						.notice {
							margin-top: 24px;
							padding: 17px 9px;
							border-radius: 2px;
							background: rgba(253, 209, 156, 0.20);

							p {
								color: $primary;
								text-align: center;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 22px; /* 146.667% */

								a {
									color: $primary;
									font-weight: 700;
								}

							}

						}

					}

					.payment-wrapper {

						form {

							.payment-choice {
								margin-bottom: 24px;
								display: flex;
								gap: 8px;

								input {
									flex-shrink: 0;
									margin-top: 1px;
								}

								.payment-copy {

									span {
										color: $text-dark;
										font-family: "Open Sans", sans-serif;
										font-size: 18px;
										font-style: normal;
										font-weight: 600;
										line-height: 20px;
									}

									p {
										margin-top: 10px;
										color: #8E99A5;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: 22px;
									}

								}

							}

						}

					}

					#timeslots {
						display: none;
					}

				}

				abbr {
					color: #c2996f;
				}

				.step-content {
					input:not([type="radio"]), select {
						padding: 11px 8px;
						border-radius: 2px;
						border: 1px solid #D9D9D9;
						outline: none;
						background: #FFF;

						color: $text-dark;
						font-family: "Open Sans", sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px; /* 114.286% */

						&::placeholder {
							color: #8E99A5;
							font-family: "Open Sans", sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 16px; /* 114.286% */
						}
					}

					#ship-to-different-address {
						label {
							cursor: pointer;
							margin-top: 12px;
							margin-bottom: 16px;
							border-radius: 5px;
							border: 2px solid #c2996f;
							padding: 16px 12px;
							display: flex;
							justify-content: flex-start;
							align-items: center;
							gap: 8px;
						}

						span {
							color: #c2996f;
							font-size: 16px;
							font-style: normal;
							font-weight: 600;
							line-height: 20px;
						}

						#ship-to-different-address-checkbox {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 20px;
							height: 20px;
							flex-shrink: 0;
							border-radius: 3px;
							border: 2px solid #c2996f;
						}
					}

					#payment {
						background: transparent;
					}
				}

				#choose_delivery {
					select {
						cursor: pointer;
						padding: 11px 8px;
						border-radius: 2px;
						outline: 0;
						border: 1px solid #d9d9d9;
						background: #fff;
						color: #8e99a5;
						font-family: "Open Sans", sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;
					}

					#shipping_time_field,
					#shipping_date_field {
						width: 50%;
					}


					input {
						padding: 11px 8px;
						border-radius: 2px;
						border: 1px solid #d9d9d9;
						outline: 0;
						background: #fff;
						color: #2c2b2e;
						font-family: "Open Sans", sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;
					}

					.half {
						display: flex;
						justify-content: space-between;
						gap: 36px;
						margin-top: 8px;
					}
				}

				#choose_delivery_field {
					.woocommerce-input-wrapper {
						display: flex;
						justify-content: space-between;
						gap: 32px;
						align-content: center;

						label {
							position: relative;
						}

						input {
							display: none;
							opacity: 0;
							visibility: hidden;
							position: absolute;

							&#choose_delivery_pickup {
								&:hover {
									& + label {
										&::before {
											content: url("../images/pickup_gold.svg");
										}
									}
								}

								& + label {
									&::before {
										content: url("../images/pickup.svg");
										width: 52px;
										height: 52px;
									}
								}

								&:checked + label {
									border: 1px solid #c2996f;
									background: #fff;

									&::before {
										content: url("../images/pickup_gold.svg");
									}

									&::after {
										content: '';
										position: absolute;
										right: 15px;
										width: 15px;
										height: 15px;
										background: #c2996f;
										border-radius: 50%;
										top: 15px;
									}
								}
							}

							&#choose_delivery_shipping {
								&:hover {
									& + label {
										&::before {
											content: url("../images/delivery_gold.svg");
										}
									}
								}

								& + label {
									&::before {
										content: url("../images/delivery.svg");
										width: 52px;
										height: 52px;
									}
								}

								&:checked + label {
									border: 1px solid #c2996f;
									background: #fff;

									&::before {
										content: url("../images/delivery_gold.svg");
									}

									&::after {
										content: '';
										position: absolute;
										right: 15px;
										width: 15px;
										height: 15px;
										background: #c2996f;
										border-radius: 50%;
										top: 15px;
									}
								}
							}

							&:checked + label {
								border: 1px solid #c2996f;
								background: #fff;
							}

							& + label {
								width: 50%;
								cursor: pointer;
								border-radius: 2px;
								border: 1px solid #f6f6f6;
								background: #f6f6f6;
								padding: 16px 33px;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								gap: 8px;
								transition: .3s;

								&:hover {
									border: 1px solid #c2996f;
									background: #fff;
									transition: 0.3s;

								}
							}
						}
					}
				}
			}

		}

		#order-summary {
			padding: 0 0 70px;
			width: 35%;
			background: #fff;
			@include media(lg) {
				width: 100%;
				padding: 0 0 30px;
			}

			@media screen and (min-width: 992px) {
				&.order-summary-mobile {
					display: none;
				}
			}

			.order-summary-wrapper {
				padding-left: 23px;
				@include media(lg) {
					padding-left: 0;
				}

				.order-summary-card {
					max-width: 100%;
					margin-top: 105px;
					@include media(lg) {
						max-width: 100%;
						margin-top: 10px;
					}

					.card-title {
						color: $text-dark;
						text-align: center;
						font-size: 22px;
						font-style: normal;
						font-weight: 600;
						line-height: 26px;
						letter-spacing: 2.2px;
						text-transform: uppercase;
					}

					.separator {
						width: 100%;
						height: 2px;
						margin-top: 12px;
						margin-bottom: 16px;
						background: #FDD19C;
					}

					.products {

						.edit-order {
							border: 1px solid #D9D9D9;
							border-radius: 2px;
							display: flex;
							@include media(lg) {
								display: none;
							}

							&.active {
								@include media(lg) {
									display: flex;
								}
							}

							.left-side {
								width: calc(100% - 46px);
								padding: 7px 8px 7px 12px;
								display: flex;
								justify-content: space-between;
								gap: 8px;
								align-items: center;

								a {
									color: $primary;
									font-family: "Open Sans", sans-serif;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: 18px; /* 112.5% */
									letter-spacing: 0.16px;
									border-bottom: 2px solid $primary;
								}

								.order-count-price {
									display: flex;
									flex-direction: column;

									.count {
										text-align: right;
										color: $primary;
										font-family: "Open Sans", sans-serif;
										font-size: 12px;
										font-style: normal;
										font-weight: 600;
										line-height: 12px; /* 166.667% */
										letter-spacing: 0.12px;
									}

									.price {
										text-align: right;
										color: #2C2B2E;
										font-family: "Open Sans", sans-serif;
										font-size: 16px;
										font-style: normal;
										font-weight: 600;
										line-height: 16px; /* 125% */
										letter-spacing: 0.16px;
									}

								}

							}

							.trash {
								cursor: pointer;
								max-width: 46px;
								width: fit-content;
								background: $primary;
								padding: 12px 11px;
								border-radius: 2px;
							}

						}

						.products-list {
							margin: 18px 0;
							@include media(lg) {
								display: none;
							}

							&.active {
								@include media(lg) {
									display: block;
								}
							}

							.list {

								.product {
									display: flex;
									justify-content: space-between;
									align-items: center;
									gap: 4px;

									&:not(:last-child) {
										margin-bottom: 14px;
									}

									.content {
										display: flex;
										align-items: center;
										gap: 8px;
										@include media(lg) {
											padding: 0;
										}

										img {
											width: auto;
											max-width: 36px;
										}

										p {
											color: $text-dark;
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: 20px;
											letter-spacing: 0.16px;
										}

									}

									.price-amount {
										display: flex;
										flex-direction: column;
										flex-shrink: 0;

										.amount {
											color: $primary;
											font-family: "Open Sans", sans-serif;
											font-size: 16px;
											font-style: normal;
											font-weight: 600;
											line-height: 20px;
											text-align: right;
										}

										.price {
											color: $text-dark;
											text-align: center;
											font-family: "Open Sans", sans-serif;
											font-size: 16px;
											font-style: normal;
											font-weight: 600;
											line-height: 20px;
											text-align: right;

											span {
												&.amount {
													color: $text-dark !important;
												}
											}
										}

									}

								}

							}

							.btn-see-whole-order {
								width: 100%;
								margin-top: 16px;
								padding: 8px 30px;
								cursor: pointer;
								font-size: 14px;
								line-height: 22px;
								font-weight: 600;
								letter-spacing: 0.14px;

								svg {
									vertical-align: text-top;
									margin-left: 10px;
									margin-right: 0;

									path {
										transition: .3s;
									}
								}

								&:hover {
									svg {
										path {
											fill: #fff;
											transition: .3s;
										}
									}
								}
							}

						}

						.total-subtotal {

							.subtotal {
								display: flex;
								justify-content: space-between;
								align-items: center;
								gap: 8px;

								p {
									color: $text-dark;
									font-size: 18px;
									font-style: normal;
									font-weight: 400;
									line-height: 20px;
									letter-spacing: 0.18px;
								}

								.price {
									color: $text-dark;
									font-family: "Open Sans", sans-serif;
									font-size: 18px;
									font-style: normal;
									font-weight: 400;
									line-height: 20px;
									letter-spacing: 0.18px;
								}

							}

							.delivery-price-wrapper {
								margin-top: 12px;
								display: none;
								justify-content: space-between;
								align-items: center;
								gap: 8px;

								&.active {
									display: flex;
								}

								p {
									color: $primary;
									font-size: 18px;
									font-style: normal;
									font-weight: 600;
									line-height: 20px;
									letter-spacing: 0.18px;
								}

								.delivery-price {
									color: $primary;
									font-family: "Open Sans", sans-serif;
									font-size: 18px;
									font-style: normal;
									font-weight: 600;
									line-height: 20px;
									letter-spacing: 0.18px;
								}

							}

							.separator {
								margin: 16px 0;
								width: 100%;
								height: 2px;
								background: #FDD19C;
							}

							.total {
								display: flex;
								justify-content: space-between;
								align-items: center;
								gap: 8px;

								p {
									color: $text-dark;
									font-size: 18px;
									font-style: normal;
									font-weight: 600;
									line-height: 20px; /* 111.111% */
									letter-spacing: 3.6px;
									text-transform: uppercase;
								}

								.price {
									color: $text-dark;
									font-family: "Open Sans", sans-serif;
									font-size: 18px;
									font-style: normal;
									font-weight: 700;
									line-height: 20px; /* 111.111% */
									letter-spacing: 0.18px;
								}

							}

						}

					}

				}

			}

		}
	}
}

.lang-he {

	.checkout-wrapper {
		direction: rtl;

		#order-summary .order-summary-wrapper {
			padding-left: 23px;
			padding-right: 23px;

			.order-summary-card .products .edit-order .left-side .order-count-price .price {
				text-align: left;
			}

			.order-summary-card .products .edit-order .left-side .order-count-price .count {
				direction: ltr;
				text-align: left;
			}

		}

		#checkout-steps .content .step-content .forms-wrapper .form form label {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		#checkout-steps {
			align-items: flex-start !important;
			@include media(lg) {
				align-items: center !important;
			}
		}

	}

}

body:not(.woocommerce-cart):not(.page-id-733) {
	.pika-single.is-bound {
		position: absolute !important;
		left: 50% !important;
		top: 50% !important;
		transform: translate(-50%, -50%) !important;

		@include media(lg) {
			width: 100% !important;
		}
	}
}

.pika-single.is-bound {
	.pika-lendar {
		width: 100% !important;
		height: 100% !important;
		padding: 21px !important;
		margin: 0 !important;

		.pika-next {
			background: url('../images/arrow.svg') no-repeat center;
			border: none;
		}

		.pika-prev {
			background: url('../images/arrow.svg') no-repeat center;
			border: none;
			transform: rotate(180deg);
		}

		.pika-label {
			font-size: 20px;
		}

		.pika-table {
			abbr {
				color: #2C2B2E;
				font-size: 12px;
				font-weight: 800;
				text-decoration: none;
			}


			td {
				@include media(lg) {
					padding: 5px !important;
				}
				padding: 5px 10px !important;
			}
		}

		button {
			text-align: center !important;
			border-radius: 5px;
			border: 1px solid #2C2B2E;
			background-color: white;
			padding: 11px 15px;
			color: #2C2B2E;

			&:hover {
				background-color: #2C2B2E;
				color: white;
			}
		}

		.is-disabled {
			button {
				background-color: #F9F9FA !important;
			}
		}
	}
}

.dateslot-dialog {
	display: none !important;
}

#hotdish_delivery_field {
	span {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
	}
}

.load_items {
	height: 150px;
	overflow: hidden;
	transition: 0.5s all;
}

.step-number {
	cursor: pointer;
}

.woocommerce form .form-row .select2-container {
	width: 100% !important;
}

.select2-selection--single {
	border: none !important;
	height: unset !important;

	.select2-selection__arrow {
		top: 50% !important;
		transform: translateY(-50%) !important;
	}

	.select2-selection__rendered {
		padding: 11px 8px;
		border-radius: 2px;
		border: 1px solid #d9d9d9;
		outline: 0;
		background: #fff;
		color: #2c2b2e;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
	}
}
