.nougatine-events {
    padding-top: 49px;
    padding-bottom: 32px;
    background: $bg-secondary;
    @include media(lg) {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container {

        .wrapper {
            margin-top: 59px;
            display: flex;
            justify-content: center;
            gap: 73px;
            @include media(lg) {
                flex-direction: column;
                margin-top: 41px;
                gap: 24px;
            }

            .content {
                padding-top: 70px;
                @include media(lg) {
                    padding-top: 0;
                }

                p {
                    color: $text-dark;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.18px;
                    @include media(lg) {
                        text-align: center;
                    }
                }

                a {
                    margin-top: 44px;
                    @include media(lg) {
                        display: none;
                    }
                }

            }

            .gallery {
                width: 100%;
                max-width: 495px;
                min-height: 357px;
                @include media(lg) {
                    min-height: unset;
                    margin: 0 auto;
                }

                .nougatine-events-slider {
                    .slick-prev{
                        left: -30px !important;
                        @include media(lg) {
                            left: -20px !important;
                        }
                    }

                    .slick-next{
                        right: -30px !important;
                        @include media(lg) {
                            right: -20px !important;
                        }
                    }

                    .slick-list {
                        padding-bottom: 12px !important;
                    }

                }
            }

            .btn-mobile {
                display: none;
                @include media(lg) {
                    display: inline-block;
                    width: 100%;
                }
            }

        }

    }

}

.lang-he {
    .nougatine-events {

        .container {

            .wrapper {
                flex-direction: row-reverse;
                @include media(lg) {
                    flex-direction: column;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    @include media(lg) {
                        align-items: center;
                    }

                    p {
                        text-align: right;
                        @include media(lg) {
                            text-align: center;
                        }
                    }

                    a {
                        width: fit-content;
                        @include media(sm) {
                            width: 100%;
                        }
                    }

                }

            }

        }

    }
}
