.testimonials {
	padding-top: 37px;
	// padding-bottom: 58px;
	background: $bg-secondary;
	@include media(lg) {
		padding-bottom: 32px;
		overflow: hidden;
	}

	&.about-us-testimonials {
		background: $bg;
		@include media(lg) {
			background: $bg-secondary;
			padding-top: 48px;
			padding-bottom: 48px;
		}

		.container {

			h2 {
				text-transform: unset;
				font-family: 'Open Sans', sans-serif !important;
			}

		}

	}

	.container {
		@include media(lg) {
			padding: 0;
		}

		.testimonials-slider {
			margin-top: 24px;
			padding: 0 71px;
			@include media(lg) {
				padding: 0;
				width: 100%;
				max-width: 100%;
				overflow-x: hidden;
			}

			.slick-list {
				margin: 0 -20px;
				padding-top: 58px;
				padding-bottom: 58px;
				@include media(lg) {
					padding-top: 17px !important;
					padding-bottom: 32px !important;
					margin: 0 -12px;
				}

				.slick-slide {
					margin: 0 20px;
					@include media(lg) {
						margin: 0 12px;
					}

					.card {
						background: $bg;

						display: flex !important;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;

						padding: 12px 19px 16px;
						box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.15);

						.avatar {
							margin: 0 auto;
							width: 56px;
							height: 56px;
							border-radius: 50%;
							overflow: hidden;

							img {
								width: 100%;
								object-fit: cover;
							}

						}

						.content {

							.name {
								margin-top: 6px;
								margin-bottom: 16px;
								color: $primary;
								text-align: center;
								font-family: 'Assistant', sans-serif;
								font-size: 18px;
								font-style: normal;
								font-weight: 600;
								line-height: 22px;
								letter-spacing: 0.18px;
							}

							.review {
								color: $text-dark;
								text-align: center;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 18px;
								letter-spacing: 0.16px;

								p {
									color: $text-dark;
									text-align: center;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 18px;
									letter-spacing: 0.16px;
								}
							}

						}

						.stars {
							margin-top: 36px;
							display: flex;
							justify-content: center;
						}

					}
				}
			}

		}

	}

}
