@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
	font-family: "Open Cond Bold";
	src: url("../fonts/OpenSans-CondBold.ttf");
}

@font-face {
	font-family: "Open Cond Bold Hebrew";
	src: url("../fonts/OpenSansHebrewCondensed-Bold.ttf");
}

@font-face {
	font-family: "Assistant";
	src: url("../fonts/Assistant-VariableFont_wght.ttf");
}

body {
	font-family: $font-family;
}

h1 {
	@include h-1;
}

h2 {
	@include h-2;
}

h3 {
	@include h-3;
}

h4 {
	@include h-3;
}

div,
p {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1%;
}

a {
	text-decoration: none;
}

.lang-he {
	h1,
	h2 {
		font-family: 'Open Cond Bold Hebrew', sans-serif!important;
	}
}